$fields: #2F334C;
$green: #68E1A1;
$violet1: #111423;
$violet2: #212435;
$violet3: #2F334C;
$violet4: #AEBCD2;
$gray: #AEBCD2;
$image: #1F2641;
$diamond: #75FFFF;
$gold: #FFFF8B;
$founder: #EB3131;